.animated-lines-layer {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.glitch-line-horizontal {
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  animation: glitch-line-horizontal-move 8s infinite linear;
}

.glitch-line-vertical {
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  animation: glitch-line-vertical-move 10s infinite linear;
}

.glitch-line-white {
  background: rgba(255, 255, 255, 1);
}

.glitch-line-green {
  background: rgba(0, 255, 0, 1);
}

.glitch-line-blue {
  background: rgba(0, 255, 255, 1);
}

@keyframes glitch-line-horizontal-move {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes glitch-line-vertical-move {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
